.Form {
  padding: 40px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    input {
      border: 1px solid rgb(137, 137, 137);
      padding: 5px 10px;
    }
    input:hover {
      background-color: rgba(137, 137, 137, 0.077);
    }

    .btn {
      background-color: #62879970;
      color: black;
    }

    .btn:hover {
      background-color: #628799b8;
    }

    .select {
      display: flex;
      justify-content: center;
      padding: 5px 10px;
      background-color: white;
      color: black;
      gap: 10px;
    }

    .time {
      display: flex;
      justify-content: center;
      gap: 5px;

      .special {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .Form {
    width: 40%;
    height: 600px;
    border-right: 1px solid #4c6470;
  }
}
