.Card {
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  background-color: rgba(255, 253, 253, 0.866);
  width: 150px;
  height: 260px;

  p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    padding: 5px 5px;
  }
  .Hero {
    padding: 0;
    width: 100%;
    background-color: gray;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
  }
}
